body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}
  
/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
  
#logo-img {
  background: url('logo.png') no-repeat;
  width: 168px;
  height: 105px;
  margin: 10px 15px 10px 0;
}
  
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Website Name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

/** HOME **/
#home h2 { 
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.75em;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 15;
    line-height: .75;
}

#home form {
    text-align: center;
    color: #557c3e;
}

#home #anime-name {
    font-size: 1.3em;
}

#home #submit-btn {
    font-size: 1.25em;
}

/** ANIMES **/
#anime-list h2 {
    font-family: 'Lora', serif;
    color: #e20d0d;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 15;
    line-height: .75;
}

#anime-list #text-anime-submit {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 1px #222;
    white-space: pre-wrap;
    margin-bottom: 15px;
}

/** SINGLE ANIME **/
.img-single-anime img {
    width: 100%;
    margin-bottom: 30px;
}

#single-anime h2 { /* Website Name */
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 10px;
    line-height: .75;
}

#single-anime hr {
    width: 90%;
    color: #557c3e;
    text-align: center;
    margin-bottom: 20px;
}

#comment-form .comment {
    width: 80%;
    border-radius: 50px;
    border: 1px solid #222;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Lora', serif;
    color: #557c3e;
}